<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AboutMe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A33D89F11C3D679300070D3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A33D8A051C3D679300070D3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A33D8A101C3D679300070D3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
